<div id="<%= dom_id booking %>">
  <p>
    <strong>Id:</strong>
    <%= booking.id %>
  </p>

  <p>
    <strong>date:</strong>
    <%= booking.date %>
  </p>

  <p>
    <strong>Flight:</strong>
    <%= booking.flight%>
  </p>

</div>